@font-face {
  font-family: "MyFont";
  src: url("../fonts/antic-didone-v9-latin-regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyFont1";
  src: url("../fonts/Kanit-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "MyFont";
}

.initialContent {
  display: flex;
  flex-direction: column;
  height: 100vw;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 15px;
}

li:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 80px;
  gap: 50px;
}
a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 80px;
  font-family: "MyFont1";
  font-size: 50px;
}

p {
  text-align: center;
}

nav {
  background: linear-gradient(0.25turn, green, white, red);
}

section {
  width: 100%;
  font-size: 20px;
  max-width: 2200px;
  margin: 0 auto;
}

.intialp {
  text-align: center;
  padding: 3em;
}

.intialMain {
  color: white;
  flex: 1;
  background-image: url(../images/pizza-ge86e9b007_1920.jpg);
  background-position: top left;
  background-size: cover;
  z-index: -1;
  background-position: fixed;
  background-repeat: no-repeat;
  min-height: 1000px;
}

/* -----------------this section is for menu---------------------- */

.menumain {
  display: flex;
  flex-wrap: wrap;
  color: white;
  flex: 1;
  background-image: url(../images/blackboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  z-index: -1;
  padding: 2.5em 2em 2em 1em;
}

.menu {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  max-width: 800px;
  max-height: 400px;
}

div.menu {
  margin: 0 auto;
}
.menuimg {
  width: 45%;
  border-radius: 50%;
}

.menup {
  text-align: center;
  padding: 10px;
}

/* ------------this is for contact-------- */

.contactcontent {
  display: flex;
  flex: 1;
}

.contactmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  flex: 1;
  background-image: url(../images/blackboard.jpg);
  background-size: cover;
  z-index: -1;
  min-height: 1000px;
}

.contactimg {
  width: 40%;
  height: 40%;
  max-width: 800px;
  max-height: 700px;
}

.contactp {
  padding: 3em;
  max-width: 1200px;
}

@media (min-width: 1150px) {
  section {
    font-size: 25px;
  }
  .contactp {
    font-size: 30px;
  }
}

@media (min-width: 1850px) {
  section {
    font-size: 30px;
  }
}

@media (max-width: 870px) {
  .menumain {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 50%;
  }
  .menu {
    flex-direction: column;
  }
  .menumain {
    min-height: 1280px;
  }
  .menuimg {
    width: 25%;
  }
  .menup {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  .contactp {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .contactp {
    font-size: 30px;
  }
}
